.name{
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: rgb(231, 79, 79);   
}

.speech {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}


.direction {
    font-family: Times New Roman, serif;
    font-size: 16px;
    color: black;
    background-color: lightgray;
    transition: background-color 0.3s, color 0.3s;
    
}

.direction:hover {
    background-color:   lightblue;
    color: white;
}

.nora {
    color: blue;
}

.porter {
    color: green;
}

.helmer {
    color: red;
}

.rank {
    color: rgb(170, 0, 255);
}

.krogstad {
    color: rgb(255, 0, 200);
}

.linde {
    color: rgb(238, 255, 0);
}

.anne {
    color: rgb(0, 255, 136);
}

.housemaid {
    color: rgb(39, 5, 56);
}

.my-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 1px solid #e33f3f;
}

.my-table th, .my-table td {
    border: 1px solid #49eadd;
    padding: 8px;
    text-align: center;
}

.my-table th {
    background-color: #7d5ff4;
}

.my-table tbody tr:nth-child(even) {
    background-color: #f8bfe6;
}

.my-table tbody tr:nth-child(odd) {
    background-color: #c1a9e5;
}
.nora:hover {
    text-shadow: 2px 2px 4px #7b14d6; /* Shadow with an interesting color and blur */
    border: 2px dashed #e31235; /* Interesting border */
}
.porter:hover {
    text-shadow: 2px 2px 4px #6cc004; /* Shadow with an interesting color and blur */
    border: 2px dashed #6d054a; /* Interesting border */
}
.helmer:hover {
    text-shadow: 2px 2px 4px #85d30f; /* Shadow with an interesting color and blur */
    border: 2px dashed #045b5b; /* Interesting border */
}
.linde:hover {
    text-shadow: 2px 2px 4px #034c7d; /* Shadow with an interesting color and blur */
    border: 2px dashed #4b082c; /* Interesting border */
}



